.Modal {
  width: 50%;
  font-size: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0rem;
  border-radius: 1rem;
  z-index: 11;
}

.enterActive {
  animation: modalEnter 1.1s;
}

.exitActive {
  animation: modalExit 1.1s;
}

@keyframes modalEnter {
  0% { 
    opacity: 0;
    transform: translate(-50%, 50%);
  }
  100% { opacity: 1 }
}

@keyframes modalExit {
  0% { 
    opacity: 1;
  }
  100% { 
    opacity: 0;
    transform: translate(-50%, 50%);
  }
}

.cardButtons {
  display: flex;
}

.cardBtn {
  flex: 1;
  border: none;
  margin: 1rem;
  font-size: 2rem;
  padding: 1.2rem;
  color: white;
  letter-spacing: .2rem;
}

.cardBtn:first-child {
  margin-right: auto;
  background-color: rgb(210, 95, 16);
}

.cardBtn:first-child:hover {
  background-color: rgb(220, 110, 30);
}

.cardBtn:nth-child(2) {
  background-color: rgb(60, 132, 17)
}

.cardBtn:nth-child(2):hover {
  background-color: rgb(80, 154, 36);
}

.cardBtn:focus {
  outline: none;
}

@media (max-width: 450px) {
  .Modal {
    width: 100%;
  }
}

@media (min-width: 450px) and (max-width: 765px) {
  .Modal {
    width: 70%;
  }
}

@media (min-width: 950px) {
  .Modal {
    width: 40%;
  }
}