.Form {
  font-family: 'Gaegu', cursive;
  font-size: 2.8rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 1rem auto auto auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
}

.loginBtn {
  font-family: 'Gaegu', cursive;  
  outline: none;
  border: none;
  padding: .5rem 0;
  flex: 1;
  color: white;
  margin: 2rem;
  font-size: 2.8rem;
  border-radius: .5rem;
  background-color: #13b513;
  cursor: pointer;
  transition: all .2s;
}

.loginBtn:hover {
  background-color: #1bce1b;
}

.loginBtn:focus {
  outline:none;
}