.Form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 5rem auto auto auto;
  font-size: 2rem;
}

.Form h2 {
  font-size: 4rem;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 1rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}